body {
  display: block;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#loadingScreen {
  display: block;
  text-align: center;
}

.hide {
  display: none !important;
}

#main {
  display: block;
  width: 100%;

  table {
    width: 100%;
  }

}

table {
  width: 100%;
  table-layout: fixed;
}

/* .main td, th {
  font-size: 1rem;
  text-align: center;
  padding: 1%;
  border-spacing: 0px;
  display: inline-block;
}

.main td {
  width: 25%;
}

.main td:nth-child(5) {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.main th {
  width: 25%;
}

.main th:nth-child(n+3) {
  width: calc(50%/3);
}

.main td:nth-child(n+6), .main th:nth-child(n+6) {
  width: calc(100%/7);
} */

/* .main tr {
  border-bottom: 1px solid;
  border-top: 1px solid;
  background-color: rgba(150, 212, 212, 0.2);
}

.main tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.5);
}

.main tr:hover {
  background-color: rgba(150, 200, 180, 0.8);
} */

/* #Species {
  height: auto;
  width: 100%;
} */

/* .SortButton {
  border: none;
  background-color: transparent;
  height: 30px;
  font-size: 100%;
  font-weight: bold;
}

.SearchBarContainer {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#SearchBar {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 128px;
  max-height: 128px;;
}

.SpeciesDetailGeneralContainer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
}

#NumDetail {
  padding-left: 2%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
  width: 98%;
}

#SpriteDetail {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: auto;
}

#SpriteDetail img {
  width: 64px;
  height: 64px;
}

#TypeDetail {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 12vh;
}

#AbilityDetail {
  padding-left: 2%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 98%;
}

.MNameHeader {
  width: 17%;
}

.MTypeHeader {
  width: 15%;
}

.MHeader {
  width: 7%;
}

.HABox {
  font-weight: bold;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left: 50px;
}

.openNav {
  z-index: 1;
  position: fixed;
  font-size: 40px;
  background-color: red;
  display: block;
  margin-left: 10px;
  padding: 1px 15px;
  border-radius: 25px;
}

#SpeciesDetail {
  position: relative;
  width: 100%;
  height: auto;
  overflow-y: auto;
  display: none;
}

.SpeciesDetailHeadContainer {
  position: relative;
  display: block;
  height: 100px;
}

h1 {
  text-align: center;
}

#CloseDetail {
  position: absolute;
  right: 5px;
  font-size: 35px;
  display: block;
  padding: 1px 10px;
  border-radius: 25px;
  background-color: red;
}

#PrevDetail {
  position: absolute;
  left: 15px;
  font-size: 25px;
  display: inline-block;
  padding: 1px 10px;
  border-radius: 15px;
  background-color: red;
}

#NextDetail {
  position: absolute;
  right: 15px;
  font-size: 25px;
  display: inline-block;
  padding: 1px 10px;
  border-radius: 15px;
  background-color: red;
}

#UIDDetail {
  display: none;
}

.SpeciesDetailStatsContainer {
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  display: block;
  
}

.SpeciesDetailOtherContainer {
  position: relative;
  display: block;
}

#TypeDetail > Div {
  width: 25vw;
  height: auto
}

#statsTable {
  width: 85%;
  margin-left: 2%;
}

#statsTable tr {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#statsTable th {
  text-align: left;
  width: 10%;
}

#statsTable .statsNum {
  text-align: right;
  width: 15%;
  padding: 3%;
}

#LocationDetail {
  width: 60%;
  margin: 1%;
  padding: 2%;
}

#LocationDetail::first-line {
  font-weight: bold;
}

#HeldItemDetail {
  width: 60%;
  margin: 1%;
  padding: 2%;
}

#HeldItemDetail::first-line {
  font-weight: bold;
}

#EggGroupDetail {
  width: 60%;
  margin: 1%;
  padding: 2%;
}

#EggGroupDetail::first-line {
  font-weight: bold;
}

#EvoDetail {
  display: grid;
  width: 100%;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: auto auto auto auto auto;
  text-align: center;
}

#EvoDetail::first-line {
  font-weight: bold;
}

.ArrowBox {
  font-size: 30px;
  font-weight: bold;
  height: auto;
}

.EvoSpriteBox img {
  width: 64px;
  height: 64px;
  margin: auto;
  display: block;
  padding: 2px;
}

.EvoTypeBox {
  width: 100%;
  margin: auto;
  display: block;
}

.EvoTypeBox > Div {
  height: auto
}

.EvoTextBox {
  margin: 1%;
  padding: 2%;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 6;
}

.EvoTextBox::first-line {
  font-weight: bold;
}

.EvolutionBox {
  width: 100%;
  display: block;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.DetailedBox {
  width: 100%;
  height: auto;
  display: block;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.WrapperBox {
  width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: auto auto;
}

.EvoContainer {
  grid-column-start: 3;
  grid-column-end: 4;
}

.EvoContainerS1 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

.EvoContainerS2 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}

.EvoContainerS3 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
}

.EvoContainerS1 > .WrapperBox,
.EvoContainerS2 > .WrapperBox,
.EvoContainerS3 > .WrapperBox {
  display: block;
} */

/* #Ability, #Location, #Trainer,
#Moves, #Items  {
  display: none;
} */

/* .TabChoice {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  margin: auto;
}

.ChoiceBtn {
  border: 1px solid black;
  background-color: transparent;
  margin: 3px;
  padding: 3px;
} */

/* .ChoiceBtn:nth-child(2) {
  background-color: red;
} */

/* .activeChoice {
  background-color: red;
}

caption {
  font-weight: bold
}

.SpeciesDetailLearnSetContainer {
  width: 100%;
  display: block;
  height: auto;
  text-align: center;
  margin-top: 2%;
}

.LearnSetContainer {
  margin-top: 20px;
}

.LvLearn {
  width: 7%;
}

.LearnName {
  width: 26%;
}

.LearnType {
  width: 21%;
}

.LearnCat {
  width: 10%;
}

.LearnPwr {
  width: 12%;
}

.LearnAcc {
  width: 12%;
}

.LearnPP {
  width: 12%;
}

.dark-mode {
  background-color: black;
  color: white;
}

.SpeciesDetailLearnSetContainer td, .SpeciesDetailLearnSetContainer th {
  font-size: 70%;
  text-align: center;
  padding: 5px;
  border-spacing: 0px;
}

.SpeciesDetailLearnSetContainer tr {
  border-bottom: 1px solid;
  border-top: 1px solid;
  background-color: rgba(150, 212, 212, 0.2);
}

.SpeciesDetailLearnSetContainer tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.5);
}

.SpeciesDetailLearnSetContainer tr:hover {
  background-color: rgba(150, 200, 180, 0.8);
}

#BackTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
  font-size: 35px;
  padding: 5px 20px;
  background-color: red;
  border-radius: 30px;
}

.LocationRow {
  width: 100%;
  background-color: transparent !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.LocationTables {
  column-span: 3;
  width: 100%;
  background-color: blue;
  margin-top: 40px;
}

.LearnSetBody {
  width: 100vw;
  border-bottom: solid 1px black;
} */