.TypeBox {
    display: block;
    margin-bottom: 2px;
    width: 90%;
    /* height: 90%; */
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-shadow: rgb(161, 135, 203) 1px 1px;
    font-size: 75%;
    font-weight: bold;
}

.GrassBox { background-color: rgb(98, 161, 61); }

.FireBox { background-color: rgb(238, 129, 48); }

.WaterBox { background-color: rgb(99, 144, 240); }

.BugBox { background-color: rgb(128, 143, 19); }

.PoisonBox { background-color: rgb(163, 62, 161); }

.NormalBox { background-color: rgb(168, 167, 122); }

.FlyingBox { background-color: rgb(133, 113, 190); }

.DarkBox { background-color: rgb(112, 87, 70); }

.ElectricBox { background-color: rgb(207, 154, 9); }

.GroundBox { background-color: rgb(177, 149, 79); }

.FairyBox { background-color: rgb(214, 133, 173); }

.PsychicBox { background-color: rgb(249, 85, 135); }

.FightingBox { background-color: rgb(194, 46, 40); }

.RockBox { background-color: rgb(182, 161, 54); }

.SteelBox { background-color: rgb(140, 140, 158); }

.IceBox { background-color: rgb(101, 161, 158); }

.GhostBox { background-color: rgb(115, 87, 151); }

.DragonBox { background-color: rgb(111, 53, 252); }

.undefinedBox { display: none; }